#bar{
    width:auto;
    height:20px;
    border-radius: 20px;
    background-color: blueviolet;
    position: fixed;
    top:0px;
    left:3%;
    
}
.content{

    margin: 20px;
    padding 10px;
}
body{
    margin: 0px;
    padding: 0px;
}
div{
    text-align: center;
    align-items: center;
}